* {
    box-sizing: border-box;
}

h1,h2,p {
    margin: 0;
}

section,
.header {
    margin-bottom: 20px;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

.header {
    background-color: #5cb85c;
}

.header-blok {
    padding: 20px 0;
}

.header-h {
    color: white;
    text-align: center;
}

.options {
    width: 542px;
    text-align: center;
}

.options-h {
    margin-bottom: 20px;
}

.options-btn {
    margin-bottom: 20px;
}

.crossword {
    display: flex;
    justify-content: space-between;
}

.cell,
.cell-black {
    /* margin: 0; */
    padding: 0;
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.cell-black {
    color: white;
    text-align: center;
    background-color: black;
}

.inp {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.inp:focus {
    outline: 3px solid green;
}

.verify {
    display: block;
    margin: 20px auto 0 auto;
}

.questions {
    width: 400px;
    margin-bottom: 40px;
    padding: 10px 10px 10px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.list {
    padding-left: 30px;
}

.item {
    margin-bottom: 10px;
}

.footer {
    color: #bebebe;
    background-color: #0f1f0f;
}

.footer-blok {
    padding: 20px 0;
}
