* {
    box-sizing: border-box;
}

h1,h2,p {
    margin: 0;
}

.header,
.options,
main {
    margin-bottom: 20px;
}

.content{
    margin: 0 auto;
    width: 1100px;
}

.header {
    background-color: #5cb85c;
}

.header-blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: white;
}

.header-h {
    margin-bottom: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.options {
    text-align: center;
}

.options-h {
    margin-bottom: 20px;
}

.options-btn {
    margin-bottom: 20px;
}

.options-btn:not(:last-child) {
    margin-right: 10px;
}

.cell,
.cell-black {
    /* margin: 0; */
    padding: 0;
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.cell-black {
    color: white;
    text-align: center;
    background-color: black;
}

.inp {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.inp:focus {
    outline: 3px solid green;
}

.verify {
    display: block;
    margin: 20px auto 0 auto;
}

.questions {
    flex: 0 0 45%;
}

.questions-h {
    text-align: center;
    margin-bottom: 20px;
}

.questions-blok {
    padding-left: 30px;
    padding-right: 10px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.questions-list {
    padding-left: 0;
} 

.questions-item {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 20px;
}

.footer {
    color: #bebebe;
    background-color: #0f1f0f;
}

.footer-blok {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-work {
    flex: 0 0 50%;
}

.footer-item {
    margin-bottom: 5px;
    list-style: none;
}

@media (max-width:1100px) {
    .content {
        width: 500px;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .main-left {
        margin-bottom: 20px;
    }
    .questions-h {
        text-align: left;
    }
    .questions-blok {
        width: 100%;
    }
    .footer-work {
        flex: 0 0 100%;
        text-align: center;
    }
    .footer-item {
        padding: 0;
    }
}